/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #161616DF;
    background-alt: #1F1F1FFF;
    foreground:     #f0f0f0FF;
    selected:       #3ddbd9FF;
    active:         #3ddbd9FF;
    urgent:         #08bdbaFF;
}
