/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1a1b26FF;
    background-alt: #3b4261FF;
    foreground:     #c8d3f5FF;
    selected:       #82aaffFF;
    active:         #c3e88dFF;
    urgent:         #ff757fFF;
}
