* {
  font-family: "JetBrains Mono NF";
  font-size: 12px;
  border-radius: 5px;
}

@import "../colors.css";

#battery,
#network,
#backlight,
#memory {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 0px 2px 0px 2px;
  border-radius: 3px;
}

#clock,
#cpu,
#custom-menu,
#network {
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 0px 4px 0px 4px;
}

#battery,
#memory,
#network,
#backlight {
  padding: 0px 8px 0px 8px;
}

/*----------------------Workspaces----------------------*/
#workspaces button {
  padding: 0px 5px 0px 5px;
  animation: ws_normal 20s ease-in-out 1;
  color: @active;
}

#workspaces button.empty {
  color: @inactive;
}

#workspaces button.active {
  border-radius: 0px;
  transition: border-color 1s;
  border-bottom: 1px solid @focus;
  color: @focus;
}

#workspaces button:hover {
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: @blue1;
  color: @bg;
}
/*------------------------------------------------------*/

/*---------------------Battery---------------------*/
#battery {
  color: @blue1;
}

#battery.charging {
  color: @green2;
}

#battery.charging.good {
  background-color: transparent;
  color: @focus;
}

#battery.charging.warning {
  background-color: transparent;
  color: @yellow;
}

#battery.charging.critical {
  background-color: transparent;
}

#battery.warning:not(.charging) {
  animation-name: blink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: transparent;
  border-color: transparent;
  background-color: @orange;
  color: @inactive;
}

#battery.critical {
  background-color: transparent;
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: transparent;
  border-color: transparent;
  background-color: @red2;
  color: @inactive;
}

#battery.warning {
  background-color: transparent;
}
/*-------------------------------------------------*/

#memory {
  color: @focus;
}

#backlight {
  color: @red1;
}

#cpu {
  margin-right: 2px;
  margin-left: 0px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: @bar-bg;
  color: @active;
}

#network {
  color: @blue1;
}

#network.disconnected,
#network.disabled {
  color: @blue2;
}

#clock {
  margin-right: 3px;
  background-color: @focus;
  color: @bg;
}

#custom-menu {
  margin-right: 0px;
  margin-left: 3px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: @green1;
  color: @bg;
}
