* {
  font-family: " JetBrainsMono", "Noto Sans", "Roboto Condensed", sans-serif;
  font-size: 12px;
  border-radius: 0px;
}

@import "../themes/oxocarbon.css";

window#waybar {
  background: @bar-op-bg;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.3;
}

#backlight,
#battery,
#clock,
#pulseaudio,
#network {
  color: @active;
  border-radius: 5px;
  margin: 0px;
}

#backlight {
  margin: 3px 0px;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
  color: @active;
  background-color: @bar-bg;
}

#battery {
  margin: 1px 5px 1px 1px;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 3px;
  color: @active;
  font-size: 20px;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  margin: 1px 5px 1px 1px;
  /* border-radius: 0px; */
}

#clock {
  margin: 0px 0px 0px 0px;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 3px;
  color: @active;
}

#cpu {
  background-color: rgba(26, 27, 38, 0.5);
}

#memory {
  color: #ff966c;
  background-color: rgba(26, 27, 38, 0.5);
}

#disk {
  background-color: rgba(26, 27, 38, 0.5);
}

#tray {
  background-color: rgba(26, 27, 38, 0);
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#workspaces {
  border-radius: 15px;
  padding: 0px 3px;
  border: 0px;
  font-size: 25px;
  background-color: @bar-bg;
  color: @inactive;
}

#workspaces button {
  border: 0px;
  transition: all 0.2s ease-in-out;
  color: @inactive;
}

#workspaces button.persistent {
  font-size: 25px;
  transition: all 0.2s ease-in-out;
  color: @active;
}

#workspaces button.empty {
  font-size: 25px;
  transition: all 0.2s ease-in-out;
  color: @inactive;
}

#workspaces button.active {
  font-size: 25px;
  transition: all 0.2s ease-in-out;
  color: @focus;
}

#pulseaudio {
  margin: 1px 5px 1px 1px;
  color: @active;
  font-size: 25px;
}

#pulseaudio.bluetooth {
  margin: 3px;
}

#pulseaudio.muted {
  margin: 1px 5px 1px 1px;
}

#network {
  background-color: #1a1b26;
  color: @active;
}

#network.disconnected,
#network.disabled {
  background-color: #1a1b26;
  color: @active;
}

#taskbar button {
  /* background: rgba(26, 27, 38, 0.85); */
  margin: 3px 0px;
  padding: 2px 10px;
  border-radius: 2px;
  border: 0px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button.active {
  /* background: rgba(26, 27, 38, 0.85); */
  margin: 3px 5px;
  padding: 2px 15px;
  border-radius: 15px;
  border: 0px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button:hover {
  /* background-color: rgba(26, 27, 38, 0.85); */
  margin: 3px 0px;
  padding: 2px 10px;
  border: 0px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#custom-r_end {
  border-radius: 0px 21px 21px 0px;
  margin-right: 9px;
  padding-right: 3px;
}

#custom-l_end {
  border-radius: 21px 0px 0px 21px;
  margin-left: 9px;
  padding-left: 3px;
}
