* {
  font-family: "JetBrainsMono", "Noto Sans", "Roboto Condensed", sans-serif;
  font-size: 12px;
  border-radius: 0px;
}

@import "../colors.css";

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background: @bar-op-bg;
}

window#waybar.hidden {
  opacity: 0.1;
}

#battery,
#clock,
#pulseaudio {
  color: @active;
  border-radius: 5px;
  margin: 0px;
}

/*---------------Battery------------------*/
#battery {
  margin: 0px 5px 0px 1px;
  border-radius: 10px;
  padding-left: 3px;
  font-size: 18px;
  color: @active;
}

#battery.charging {
  font-family: JetBrainsMono;
  font-size: 18px;
  color: @green2;
}

#battery.charging.good {
  background-color: transparent;
  color: @focus;
}

#battery.charging.warning {
  background-color: transparent;
  color: @yellow;
}

#battery.charging.critical {
  background-color: transparent;
}

#battery.warning:not(.charging) {
  animation-name: blink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: transparent;
  border-color: transparent;
  color: @orange;
}

#battery.critical {
  background-color: transparent;
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  margin: 0px 5px 0px 1px;
  background-color: transparent;
  border-color: transparent;
  color: @red2;
}

#battery.warning {
  background-color: transparent;
}
/*--------------------------------------------*/

/*-----------------Clock-----------------------*/
#clock {
  margin: 0px 0px 0px 0px;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 3px;
  color: @active;
}
/*---------------------------------------------*/

/*------------------Tray-----------------------*/
#tray {
  padding: 0px 5px 0px 5px;
}
/*---------------------------------------------*/

/*----------------Workspaces-------------------*/
#workspaces {
  padding: 0px;
  margin: 0px 2px 0px 2px;
  border: 0px;
  font-size: 20px;
  color: @active;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  margin: 0px;
  animation: ws_normal 20s ease-in-out 1;
  color: @active;
}

#workspaces button.persistent {
  transition: all 0.2s ease-in-out;
  margin: 8px 0px 8px 0px;
  padding: 0px 5px 0px 5px;
  border-bottom-width: 1px;
  border-bottom-color: @focus;
  color: @focus;
}

#workspaces button.empty {
  transition: all 0.2s ease-in-out;
  border-bottom-color: transparent;
  color: @active;
}

#workspaces button:hover {
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
  margin: 8px 5px 8px 5px;
  padding: 0px 9px 0px 9px;
  background: @bar-bg;
  color: @color8;
}

#workspaces button.active {
  margin: 8px 8px 8px 8px;
  padding: 0px 6px 0px 6px;
  border-radius: 2px;
  animation: ws_active 20s ease-in-out 1;
  transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
  background-color: @focus;
  color: @bg;
}
/*---------------------------------------------*/

/*-----------------Pulseaudio------------------*/
#pulseaudio {
  margin: 1px 5px 1px 1px;
  font-size: 25px;
  color: @active;
}

#pulseaudio.bluetooth {
  margin: 1px 5px 1px 1px;
  font-size: 20px;
}

#pulseaudio.muted {
  margin: 1px 5px 1px 1px;
}
/*---------------------------------------------*/

/*--------------------Menu-------------------------*/
#custom-menu {
  border-bottom-right-radius: 10px;
  padding: 0px 5px 0px 5px;
  margin: 0px;
  color: @focus;
}

#custom-menu:hover {
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
  padding: 0px 9px 0px 9px;
  background-color: @bar-bg;
}
/*-------------------------------------------------*/

/*--------------------Power-------------------------*/
#custom-power {
  padding: 0px 11px 0px 11px;
  border-bottom-left-radius: 15px;
  color: @focus;
  background-color: @bar-bg;
}

#custom-power:hover {
  padding: 0px 15px 0px 15px;
  border-bottom-left-radius: 20px;
  transition-property: background-color;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
  color: @red1;
}
/*--------------------------------------------------*/

#window {
  margin: 6px 0px 6px 0px;
  padding: 0px 8px 0px 8px;
  animation: ws_active 20s ease-in-out 1;
  transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
  border-radius: 5px;
  color: @focus;
  background-color: @bar-bg;
}

window#waybar.empty #window {
  background-color: transparent;
}

/* Estilo general para los tooltips */
tooltip {
  border-radius: 2px; /* Bordes redondeados */
  padding: 5px; /* Espaciado interno */
  background-color: @bg; /* Color de fondo */
  border: 1px solid @focus; /* Borde blanco */
}

/* Estilo específico para el texto dentro del tooltip */
tooltip label {
  color: @active; /* Color del texto */
}
